/*  ===============================
    FRONTEND TPO - CODO A CODO 2021
      Hecho by Alejandro Corvalán
    ===============================  */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*  =======
    GENERAL
    =======  */

* {
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    color: #1E1E1E;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #F6F6F6;
}

*::-webkit-scrollbar-thumb {
    background-color: #4C9AE8;
    border-radius: 10px;
    border: 3px solid #F6F6F6;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

body {
    background-image: url(../img/cutepattern5.jpg);
    max-width: 100vw;
    overflow-x: hidden;
        -webkit-animation: scrollingBG 600s infinite linear;
        -moz-animation: scrollingBG 600s infinite linear;
        -o-animation: scrollingBG 600s infinite linear;
        animation: scrollingBG 600s infinite linear;
}

@keyframes scrollingBG {
    0%    { background-position: 0 300%; }
    100%  { background-position: 600% 0; }
}

img {
    max-width: 100%;
}

/* HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C9AE8;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #E6E6E6;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
}

.nav-link {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #E6E6E6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    color: #F6F6F6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-logo {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #E6E6E6;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
/*
.nav-logo:hover {
    animation: gelatine .5s;
}

@keyframes gelatine {
    0%  { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
*/

/* FOOTER */
.footer__grid {
    position: relative;
    display: grid;
    background-color: #4C9AE8;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
}

.footer__li {
    padding: 4px;
}

.fab, .fas {
    color: #F3F3F3;
    margin: .5rem;
    width: 1rem;
}

.footer__ul {
    list-style: none;
    justify-self: center;
    padding: 2rem 0 .5rem;
}
.footer__title {
    font-size: 1.125rem;
    letter-spacing: 2px;
    color: #F3F3F3;
}

.footer__ul a {
    color: #F3F3F3;
}

.footer__ul:nth-child(3) {
    grid-column: 1 / 3;
}

.footer__msg {
    color: #F3F3F3E3;
    font-style: italic;
    font-size: .75rem;
}



/*  ==========
    INDEX.HTML
    ==========  */

/* MAIN */
.title-h1 {
    display: grid;
    justify-content: center;
}

h1 {
    display: inline-block;
    text-align: center;
    margin: 3rem;
    font-size: 2.25rem;
    letter-spacing: 4px;
    border-bottom: 1px solid #999;
        -webkit-animation: fadeIn 1s;
        -moz-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        animation: fadeIn 1s;
}

.img1 {
    opacity: 0;
    max-width: 17.5rem;
        -webkit-animation: fadeIn 1.5s ease 0.75s forwards;
        -moz-animation: fadeIn 1.5s ease 0.75s forwards;
        -o-animation: fadeIn 1.5s ease 0.75s forwards;
        animation: fadeIn 1.5s ease 0.75s forwards;
}

@keyframes fadeIn {
    0%   { opacity: 0;    }
    100% { opacity: 100%; }
}

.img2 {
    opacity: 0;
    max-width: 17.5rem;
    grid-column: 3 / 4;
        -webkit-animation: bounceIn 1.2s ease 3.1s forwards;
        -moz-animation: bounceIn 1.2s ease 3.1s forwards;
        -o-animation: bounceIn 1.2s ease 3.1s forwards;
        animation: bounceIn 1.2s ease 3.1s forwards;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    20% {
        opacity: 1;
        transform: scale(1.2);
    }
    40% {
        transform: scale(.8);
    }
    60% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.home-intro {
    display: grid;
    grid-template-columns: repeat(3, 18.75rem);
    justify-content: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin: .5rem;
}

.info1, .info2, .info3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-align: justify;
    line-height: 1.625rem;
    align-self: center;
    justify-self: center;
    letter-spacing: 1px;
    padding: 1rem;
}

.info1 {
    opacity: 0;
    grid-column: 2 / 4;
    border-left: 2px solid #5EBBF3;
        -webkit-animation: fadeIn 1.2s ease 1.5s forwards;
        -moz-animation: fadeIn 1.2s ease 1.5s forwards;
        -o-animation: fadeIn 1.2s ease 1.5s forwards;
        animation: fadeIn 1.2s ease 1.5s forwards;
}

.text-bold {
    font-weight: 600;
}

.info2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    opacity: 0;
    border-right: 2px solid #5EBBF3;
        -webkit-animation: fadeIn 1.2s ease 2.1s forwards;
        -moz-animation: fadeIn 1.2s ease 2.1s forwards;
        -o-animation: fadeIn 1.2s ease 2.1s forwards;
        animation: fadeIn 1.2s ease 2.1s forwards;
}

.home-links {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 15rem));
    grid-template-rows: repeat(3, minmax(min-content, 4.5rem));
    justify-content: center;
    grid-column-gap: 6rem;
    grid-row-gap: 4px;
    margin: 12.5rem 7.5rem;
    border: 8px solid #6DBCEC;
    border-radius: 5rem;
    padding: 1rem;
}

.slider {
    overflow: hidden;
}

.slider figure {
    position: relative;
    width: 500%;
        -webkit-animation: slider 9s ease .25s infinite;
        -moz-animation: slider 9s ease .25s infinite;
        -o-animation: slider 9s ease .25s infinite;
        animation: slider 9s ease .25s infinite;
}

.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0%   { left: 0;     }
    20%  { left: 0;     }
    25%  { left: -100%; }
    40%  { left: -100%; }
    45%  { left: -200%; }
    60%  { left: -200%; }
    65%  { left: -300%; }
    80%  { left: -300%; }
    95%  { left: -300%; }
    100% { left: 0;     }
}

h2 {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    display: inline-block;
    text-align: center;
    margin: 4rem;
    font-size: 1.625rem;
    letter-spacing: 4px;
    border-bottom: 1px solid #999;
}

.home-links-text {
    grid-row: 3 / 4;
    justify-self: center;
    align-self: top;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.home-links a {
    justify-self: center;
    align-self: center;
    transform: scale(.9);
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.img_store {
    filter: drop-shadow(1.125rem 1.125rem 0.5rem #0008);
}

.home-links a:hover {
    transform: scale(.95) rotate(2deg);
}


.home-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5rem 1fr;
    grid-row-gap: 1.25rem;
    margin: 12.5rem 7.5rem;
    border: 0.5rem solid #6DBCEC;
    border-radius: 5rem;
}

.home-info-title {
    align-self: center;
    justify-self: center;
}

.home-info-title {
    margin: 0;
}

.info3 {
    max-width: 57.5rem;
    font-size: 1.188rem;
    padding: 2rem 1rem 4rem;
}



/*  ============
    GALERIA.HTML
    ============  */

.gallery-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 15rem;
    grid-gap: 1rem;
    grid-auto-flow: dense;
    margin: 1.5rem 3.5rem 6rem;
}

.gallery-images img {
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    object-fit: cover;
    filter: grayscale(.25) brightness(0.9);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    z-index: 10;
}

.gallery-images img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.gallery-images img:nth-child(4) {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
}

.gallery-images img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.gallery-images img:nth-child(8) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.gallery-images img:nth-child(10) {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}

.gallery-images img:nth-child(11) {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

.gallery-images img:nth-child(13) {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}

.gallery-images img:nth-child(14) {
    grid-column: 4 / 6;
    grid-row: 5 / 7;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, .85);
    z-index: 999;
}
  
.modal_content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75rem;
    max-height: 85%;
    object-fit: contain;
        -webkit-animation: zoom .1s;
        -moz-animation: zoom .1s;;
        -o-animation: zoom .1s;;
        animation: zoom .1s;
}
  
@keyframes zoom {
    from { transform: scale(.95) }
    to   { transform: scale(1) }
}

.gallery-gifs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15.625rem;
    gap: 6rem;
    grid-auto-flow: dense;
    margin: 1.5rem 3.5rem 6rem;
    align-items: center;
    justify-items: center;
}

.gallery-gifs img {
    height: 100%;
    object-fit: contain;
    filter: grayscale(.225) brightness(0.925);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    z-index: 10;
}

.gallery-images img:hover,
.gallery-gifs img:hover {
    filter: none;
    transform: scale(1.05);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    z-index: 20;
}

.gallery-gifs img:nth-child(5) {
    grid-column: 1 / 3;
}



/*  =============
    VIDEOS.HTML
    =============  */

.section-vid {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    gap: 10rem;
}

section > iframe {
    width: 60vw;
}

section > h3 {
    text-align: center;
    font-size: 2.5rem;
}

h3 > a {
    font-weight: 600;
    color: #36C;
}



/*  =============
    CONTACTO.HTML
    =============  */

.contact-intro {
    text-align: center;
}

.contact-intro a {
    color: #0790e5;
    text-decoration: underline;
}

form {
    display: grid;
    margin: 4rem auto;
    max-width: 75vw;
    justify-items: stretch;
    justify-content: center;
    gap: 16px;
}

.form_nombre,
.form_email,
.form_comentario {
    width: 100%;
    display: block;
    padding: 6px;
    resize: none;
    border: 2px solid #777;
    border-radius: 4px;
}

.form_nombre:focus,
.form_email:focus,
.form_comentario:focus{
    outline: none;
    border: 2px solid #4DABF7;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px 0 #4DABF7;
    -moz-box-shadow: 0 0 8px 0 #4DABF7;
    box-shadow: 0 0 8px 0 #4DABF7;
}

.form_nombre::placeholder,
.form_email::placeholder,
.form_comentario::placeholder {
    color: #a9a9a9;
}

.form-check {
    display: inline-block;
    margin: 0 8px;
}

.form_submit {
    padding: 11px;
    background-color: #2DABF9;
    box-shadow: inset 0 -3px 7px 0 #29BBFF;
    border: 1px solid #0B0E07;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	color: #F3F3F3;
	font-size: 15px;
	text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.form_submit:hover {
    background-color: #0790e5;
    box-shadow: inset 0 -3px 7px 0 #00a2ed;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.form_submit:active {
    background-color: #0673b7;
    box-shadow: inset 0 -3px 7px 0 #0082be;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.form-div-msg-submit {
    min-height: 20px;
}

.form_msg_submit {
    display: none;
    text-align: center;
    color: #E24C4C;
}



/*  =============
    MEDIA QUERIES
    =============  */

@media only screen and (max-width: 959px) {

    .navbar {
        display: flex;
    }

    .nav-item {
        margin-left: 4rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .home-intro {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-info,
    .home-links {
        margin: 12.5rem 5rem;
    }


    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.5rem 2rem 6rem;
    }

    .gallery-images img {
        width: 48%;
        height: auto;
        flex-grow: 1;
    }

    .gallery-gifs {
        gap: 4rem;
        margin: 1.5rem 2rem 6rem;
    }


    section > iframe {
        width: 75%;
    }
}

@media only screen and (max-width: 769px) {

    .navbar {
        width: 100vw;
        position: fixed;
        z-index: 999;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #4C9AE8;
        width: 100vw;
        text-align: center;
        transition: 0.25s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-link {
        font-size: 1.8rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    main {
        position: relative;
        top: 4rem;
    }

    .home-info,
    .home-links {
        margin: 12.5rem 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .footer__grid {
        top: 4rem;

    }


    section > iframe {
        width: 85%;
    }


    form {
        justify-content: normal;
    }

    .form-check {
        display: block;
        margin: .5rem .5rem;
    }
}

@media only screen and (max-width: 599px) {

    .img1,
    .img2 {
        width: 12rem;
    }

    h2 {
        font-size: 1.75rem;
        margin: 3rem;
    }

    .home-links {
        grid-column-gap: 2rem;
    }


    .gallery-gifs {
        gap: .5rem 1.5rem;
        margin: 1.5rem 2rem 6rem;
    }


    section > iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 469px) {

    .home-intro {
        display: flex;
        margin: 1.5rem;
        flex-flow: column;
        align-items: center;
    }

    .info1,
    .info2 {
        border: none;
    }

    .img2 {
        -webkit-animation: bounceIn 1.2s ease 2.2s forwards;
        -moz-animation: bounceIn 1.2s ease 2.2s forwards;
        -o-animation: bounceIn 1.2s ease 2.2s forwards;
        animation: bounceIn 1.2s ease 2.2s forwards;
    }

    .info2 {
        -webkit-animation: fadeIn 1.2s ease 2.7s forwards;
        -moz-animation: fadeIn 1.2s ease 2.7s forwards;
        -o-animation: fadeIn 1.2s ease 2.7s forwards;
        animation: fadeIn 1.2s ease 2.7s forwards;
    }

    .home-info {
        grid-row-gap: 0;
    }

    h2 {
        margin: 2rem;
    }

    .home-links {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .home-links a {
        max-width: 60%;
        margin-top: 1.5rem;
    }


    .gallery-images {
        margin: 1.5rem 1.5rem 6rem;
    }

    .gallery-images img {
        width: 100%;
    }

    .gallery-gifs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}
